/* Media rules for different screen sizes */

@media only screen and (max-width:640px) {
  nav li{
      display: none;
  }   
}

@media only screen and (min-width:640px) {
  .fas.fa-bars {
      display: none;
  }
}

/* Navbar & Header Rules */

header.clearfix {
  background-color: orange;
}

nav li {
  list-style-type: none;
}

.fas:hover {
  color: blueviolet
}

nav:hover ul li{
  display: inline-block;
}

